html,
body {
	height: 100%;
	overflow-x: hidden;
	font-family: 'Source Sans Pro';
	font-weight: 600;
}

body {
	margin: 0;
	padding: 0; 
}

h1:hover {
	color: #696969;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

	&__href {
		text-decoration: none;
		font-size: 20px;
		color: #696969;
		
		&:hover {
			color: #00b03b;
			cursor: pointer;
		}
	} 
	
	&__main {
		width: 400px;
		min-height: 350px;
		background-color: lightgray;
		border-radius: 15px;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		margin: 25px 0 0 0;
	}

	&__button {
		width: 97px;
    	height: 35px;
    	border-radius: 4px;
    	border: 1px solid lightgray;
    	font-weight: 600;
    	margin: 15px 0 15px 0;
    	color: #00b03b;

    	&:hover {
    		color: #fff;
    		background-color: #00b03b; 
    		cursor: pointer;
    	}
	}

	&__para {
		color: red;
	}

	&__head {
		width: 90%;
		font-size: 16px;
	}
}

.field {
	width: 300px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin: 5px 0 5px 0;
    padding: 5px;

    &:hover {
    	background-color: #f0f0f0;
    	cursor: pointer;
    }
}